<mat-toolbar class="mat">  
    <mat-toolbar-row class="mat" style="background-color: white;"> 
 
       <button class="home" mat-button ><a  > </a> <i class="fa fa-home"> </i></button>
 
       <button class="mess" mat-button ><a ></a> <i class="fa fa-comment"></i></button>


       <button class="cog" mat-button ><a   > </a> <i class=" fa fa-cog" ></i></button>

       <button class="addPhoto" mat-button ><a ></a><i class="fa fa-plus-square"></i></button>
 
       <button class="edit" mat-button ><a ></a>Edit profile</button>
    
    </mat-toolbar-row>
 </mat-toolbar>

<header class="profile">
    <div>
        <button title="profile photo" style="border: lightslategrey;"> <!--profilna slika koja je dugme na koju se moze dodati story-->
            <img alt="photo"> 
        </button>
        <button title="Change profile photo">  <!--dugme za izmenu profilne slike-->
            <img alt="Change profile photo">
        </button>
    </div>
</header>


<section class="info">
    <div>
        <h2 class="name">

        </h2>
    </div>

    <ul class="u">
        <li class="p">
            <span></span>
            <span>posts</span>
        </li>
        <li class="fol">
            <span></span>
            <span>followers</span>
        </li>
        <li class="flg">
            <span></span>
            <span>following</span>
        </li>
    </ul>
    <div class="opis">

    </div>

    <div class="allPhotos">

    </div>
</section>
