<nav class="navigation">
    <img class="logo" src="http://localhost:8080/api/media/storage/static/logo.png">
    <mat-form-field class="search">
        <mat-label class="label">Search</mat-label>
        <input matInput type="text" (keydown)="handleKeyDown($event)" [(ngModel)]="query">
    </mat-form-field>
    <mat-button-toggle-group [(ngModel)]="search">
        <mat-button-toggle value="users">Users</mat-button-toggle>
        <mat-button-toggle value="tags">Tags</mat-button-toggle>
        <mat-button-toggle value="locations">Locations</mat-button-toggle>
    </mat-button-toggle-group>
    <span class="icons">
        <button mat-button (click)="redirectToLogin()">Sign in</button>
    </span>
</nav>
<div class="content">
    <div *ngIf="users" class="users">
        <div *ngFor="let user of users" class="user">
            <div class="left" class="picture-container">
                <div *ngIf="user.profile_picture">
                    <img src="http://localhost:8080/api/media{{user.profile_picture}}" class="picture">
                </div>
                <div *ngIf="!user.profile_picture" class="picture-container">
                    <img src="http://localhost:8080/api/media/storage/static/default_pfp.jpg" class="picture">
                </div>
            </div>
            <div class="right">
                <div class="username">{{user.username}}</div>
                <div class="name">{{user.name}}</div>
                <a routerLink="/otheruser/{{user.username}}">See profile</a>
            </div>
        </div>
    </div>
    <div *ngIf="postsByLocation">
        <mat-grid-list cols="3">
            <div *ngFor="let post of postsByLocation">
                <mat-grid-tile style="width: 100%;">
                    <div class="image-container">
                        <div class="header">
                            <div *ngIf="post.profile_picture" style="padding-top: 5px; padding-left:5px">
                                <img src="http://localhost:8080/api/media{{post.profile_picture}}" class="picture">
                            </div>
                            <div *ngIf="!post.profile_picture">
                                <img src="http://localhost:8080/api/media/storage/static/default_pfp.jpg"
                                    class="picture">
                            </div>
                            <div class="text">{{post.username}}</div>
                        </div>
                        <img class="image" src="http://localhost:8080/api/media{{post.content[0]}}">
                        <span *ngIf="post.content.length > 1"
                            class="multiple-images-icon material-icons">perm_media</span>
                        <div class="overlay">
                            <i class="fas fa-heart icon"></i>
                            <div class="value">
                                {{post.number_of_likes}}
                            </div>
                            <i class="fas fa-heart-broken icon"></i>
                            <div class="value">
                                {{post.number_of_dislikes}}
                            </div>
                            <i class="fas fa-comment icon"></i>
                            <div class="value">
                                {{post.number_of_comments}}
                            </div>
                        </div>
                    </div>
                </mat-grid-tile>
            </div>
        </mat-grid-list>
    </div>
    <div *ngIf="postsByTags">
        <mat-grid-list cols="3">
            <div *ngFor="let post of postsByTags">
                <mat-grid-tile style="width: 100%;">
                    <div class="image-container">
                        <div class="header">
                            <div *ngIf="post.profile_picture" style="padding-top: 5px; padding-left:5px">
                                <img src="http://localhost:8080/api/media{{post.profile_picture}}" class="picture">
                            </div>
                            <div *ngIf="!post.profile_picture">
                                <img src="http://localhost:8080/api/media/storage/static/default_pfp.jpg"
                                    class="picture">
                            </div>
                            <div class="text">{{post.username}}</div>
                        </div>
                        <img class="image" src="http://localhost:8080/api/media{{post.content[0]}}">
                        <span *ngIf="post.content.length > 1"
                            class="multiple-images-icon material-icons">perm_media</span>
                        <div class="overlay">
                            <i class="fas fa-heart icon"></i>
                            <div class="value">
                                {{post.number_of_likes}}
                            </div>
                            <i class="fas fa-heart-broken icon"></i>
                            <div class="value">
                                {{post.number_of_dislikes}}
                            </div>
                            <i class="fas fa-comment icon"></i>
                            <div class="value">
                                {{post.number_of_comments}}
                            </div>
                        </div>
                    </div>
                </mat-grid-tile>
            </div>
        </mat-grid-list>
    </div>
</div>